.img__wrapper {
    flex: 1 1 100%;
    margin-bottom: 4px;
    display: flex;
}

.wrapper--desktop-only {
    display: none;
}

.img {
    width: 100%;
    height: 100%;
}

.wrapper--box-shadow {
    box-shadow: 0 0 1px 0 grey;
}

.wrapper--mobile-top {
    order: -1;
}

.wrapper--mobile-margin-top {
    margin-top: 12px;
}

.wrapper--mobile-margin-bottom {
    margin-bottom: 12px;
}

.wrapper--desktop-extra-margin-top {
    margin-top: 12px
}

.wrapper--desktop-extra-margin-bottom {
    margin-bottom: 12px
}

.wrapper--grid-item.wrapper--top-right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 0;
}

.wrapper--grid-item.wrapper--bottom-left {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0;
}

.wrapper--align-centered {
    align-self: center;
}

.wrapper--illustration {
    align-self: center;
    justify-self: center;
}

@media only screen and (min-width: 768px) {
    .img__wrapper {
        margin-bottom: 18px;
    }

    .wrapper--desktop-only {
        display: block;
    }

    .wrapper--right {
        flex: 1 1 66%;
        width: 66%;
        align-self: flex-end;
    }

    .wrapper--left {
        flex: 1 1 66%;
        width: 66%;
        align-self: flex-start;
    }

    .wrapper--left.wrapper--stretch,
    .wrapper--right.wrapper--stretch {
        align-self: stretch;
    }

    .wrapper--grid-item.wrapper--left {
        flex: 1 1 100%;
        width: 100%;
        grid-column: 1 / 2;
        margin-bottom: 0;
    }

    .wrapper--grid-item.wrapper--right {
        flex: 1 1 100%;
        width: 100%;
        grid-column: 2 / 3;
        margin-bottom: 0;
    }

    .wrapper--grid-item.wrapper--top-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-bottom: 0;
    }

    .wrapper--grid-item.wrapper--bottom-left {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }

    .wrapper--mobile-top {
        order: 0;
    }

    .wrapper--mobile-margin-top {
        margin-top: 0;
    }

    .wrapper--mobile-margin-bottom {
        margin-bottom: 4px;
    }

    .wrapper--extra-margins {
        margin: 12px 8.3%;
    }

    .wrapper--desktop-extra-margin-top {
        margin-top: 72px
    }

    .wrapper--desktop-extra-margin-bottom {
        margin-bottom: 72px
    }

    .wrapper--align-centered {
        align-self: center;
    }

}

@media only screen and (min-width: 1024px) {
    .wrapper--grid-item.wrapper--top-right {
        flex: 1 1 100%;
        width: 100%;
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        margin-bottom: 0;
    }

    .wrapper--grid-item.wrapper--bottom-left {
        flex: 1 1 100%;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-bottom: 0;
    }
}