.img__wrapper {
    flex: 1 1 100%;
    margin-bottom: 4px;
    display: flex;
}

.wrapper--page {
    width: 100%;
    max-width: 894px;
    margin: 0 auto 16px;
}

.wrapper--home {
    width: 100%;
    margin: 0 auto 44px;
}

.wrapper--desktop {
    display: none;
}

.wrapper--mobile {
    display: flex;
}

.img__wrapper .img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .wrapper--page {
        margin-bottom: 36px;
    }

    .wrapper--mobile {
        display: none;
    }
}