.info {
    padding: 2px 4.2% 0;
}

.info__text {
    display: block;
    font-family: "FaktPro";
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
    color: #0E0E0E;
    letter-spacing: -0.7px;
    margin-bottom: 40px;
}

.info__text__link {
    color: #0E0E0E;
}

@media only screen and (min-width: 375px) {
    .info__text {
        font-size: 35px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .info {
        padding: 3px 3%;
    }

    .info__text {
        font-size: 50px;
        line-height: 57px;
    }
}