.home__container {
    padding: 2px 4.2% 0;
    display: flex;
    flex-direction: column;
}

.link__content__container {
    display: flex;
    flex-direction: column;
}

.link__content__text {
    font-family: "FaktPro";
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0E0E0E;
    font-weight: normal;
    margin-top: -1px;
    margin-bottom: 15px;
}

.link__content__text__italic {
    font-family: "FaktPro-Italic";
}

@media only screen and (min-width: 768px) {
    .home__container {
        padding: 30px 3.2%;
    }

    .link__content__container {
        flex-direction: row;
        margin-right: -1.6%;
    }

    .link__content {
        margin-right: 1.6%;
    }

    .content--first-on-desktop {
        order: -1;
    }

    .content--big {
        flex: 1 1 66%;
    }

    .content--small {
        flex: 1 1 33%;
    }

    .link__content__text {
        font-size: 38px;
        letter-spacing: -1px;
        line-height: 43px;
    }
}

@media only screen and (min-width: 1000px) {

    .link__content__text {
        font-size: 50px;
        line-height: 55px;
    }
}