.home {
    padding: 20px 4.2% 0;
    display: flex;
    flex-direction: column;
}

.home__paragraph {
    font-size: 19px;
    color: #000000;
    letter-spacing: -0.38px;
    line-height: 23px;
    margin: 0 0 40px;
}


@media only screen and (min-width: 768px) {
    .home__paragraph {
        font-size: 24px;
        letter-spacing: -0.48px;
        line-height: 28px;
    }
}