.header {
    position: relative;
    padding: 15px 3.2% 15px 4.3%;
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.header__link__container {
    display: block;
    height: 100%;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0;
    overflow: hidden;
}

.header__link {
    display: inline-flex;
    justify-content: center;
    height: 100%;
    border-radius: 36px;
    border: solid 2px #0E0E0E;
    min-width: 36px;
    box-sizing: border-box;
    padding: 0 8px;
    color: #0E0E0E;
    text-decoration: none;
    overflow: hidden;
}

.link--teng {
    padding: 0 11px;
    margin-left: -2px;
}

.link--info {
    padding: 0 28px 0 31px;
}

.header__icon-container {
    display: block;
    width: 36px;
    height: 36px;
}

@media only screen and (min-width: 375px) {
    .header {
        height: 43px;
        padding: 17px 3.2% 17px 4.3%;
    }

    .header__link {
        font-size: 34px;
        line-height: 45px;
    }

    .header__link {
        border: solid 3px #0E0E0E;
        border-radius: 43px;
        min-width: 43px;
    }

    .link--teng {
        padding: 0 11px;
        margin-left: -2px;
    }

    .link--info {
        padding: 0 28px 0 31px;
    }

    .header__icon-container {
        display: block;
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 62px;
        padding: 29px 3.2% 29px 3.06%;
    }

    .header__link {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -1px;
    }

    .container--home {
        flex: 1 1 calc(30% + 24px);
    }

    .container--info {
        flex: 1 1 60%;
    }

    .header__link {
        border: solid 4px #0E0E0E;
        border-radius: 62px;
        min-width: 62px;
    }

    .link--teng {
        padding: 0 15px 0 17px;
        margin-left: -4px;
    }

    .link--info {
        padding: 0 38px 0 39px;
    }

    .header__icon-container {
        flex: 0 0 62px;
        width: 62px;
        height: 62px;
    }
}