.header {
    position: relative;
    padding: 15px 3.2% 15px 4.3%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 66px;
}

.header--white {
    background: #FAFAFA;
}

.header--green {
    background: #53FF8B;
}

.header--white .header__link:hover .header__link__content {
    border-color: #53FF8B;
    color: #53FF8B;
}

.header--green .header__link:hover .header__link__content {
    border-color: #FAFAFA;
    color: #FAFAFA;
}

.header--white .header__icon-container:hover svg g {
    stroke: #53FF8B;
}

.header--green .header__icon-container:hover svg g {
    stroke: #FAFAFA;
}

.header--fixed {
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform ease-in-out 300ms, opacity ease-in-out 50ms;
    z-index: 9999999;
}

.header--fixed-show {
    opacity: 1;
}

.header--fixed-slide {
    transform: translateY(0);
}

.header__link__container {
    display: block;
    height: 100%;
    letter-spacing: 0;
    overflow: hidden;
}

.header__link {
    text-decoration: none;
}

.header__link__content {
    display: inline-flex;
    justify-content: center;
    height: 100%;
    font-size: 28px;
    line-height: 38px;
    border-radius: 36px;
    border: solid 2px #0E0E0E;
    min-width: 36px;
    box-sizing: border-box;
    padding: 0 8px;
    color: #0E0E0E;
    overflow: hidden;
}

.content--teng {
    padding: 0 11px;
    margin-left: -2px;
}

.content--info {
    padding: 0 28px 0 31px;
}

.header__icon-container {
    display: block;
    width: 36px;
    height: 36px;
}

@media only screen and (min-width: 375px) {
    .header {
        height: 77px;
        padding: 17px 3.2% 17px 4.3%;
    }

    .header__link__content {
        font-size: 35px;
        line-height: 45px;
        border: solid 3px #0E0E0E;
        border-radius: 43px;
        min-width: 43px;
    }

    .content--teng {
        padding: 0 11px;
        margin-left: -2px;
    }

    .content--info {
        padding: 0 28px 0 31px;
    }

    .header__icon-container {
        display: block;
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 120px;
        padding: 29px 3.2% 29px 3.06%;
    }

    .container--home {
        flex: 1 1 calc(30% + 24px);
    }

    .container--info {
        flex: 1 1 60%;
    }

    .header__link__content {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -1px;
        border: solid 4px #0E0E0E;
        border-radius: 62px;
        min-width: 62px;
    }

    .content--teng {
        padding: 0 15px 0 17px;
        margin-left: -4px;
    }

    .content--info {
        padding: 0 38px 0 39px;
    }

    .header__icon-container {
        flex: 0 0 62px;
        width: 62px;
        height: 62px;
    }
}