.happy {
    padding: 20px 4.2% 0;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.happy__header {
    font-size: 113px;
    color: #53FF8B;
    letter-spacing: -4.99px;
    text-align: center;
}

.happy__image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px 0;
}


@media only screen and (min-width: 768px) {
    .happy__image-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0 50px;
    }
}