.main {
    font-family: FaktPro, Helvetica, sans-serif;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main--white {
    background: #fafafa;
}

.main--green {
    background: #53ff8b;
}

.main--black {
    background: #000000;
}
